body {
    font-family:Arial, Helvetica, sans-serif;
    background:rgb(239, 239, 252);
    display: fllex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}

#todo-app{
    width: 100%;
    max-width: 400px;
    background: white;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

#task-input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#add-task-button{
    width: 100%;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#add-task-button:hover{
    background-color: #0056b3;
}

ul{
    list-style-type: none;
    padding: 0;
}

li{
    background: #eeeeee;
    margin-top: 8px;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remove-btn {
    cursor: pointer;
    background-color: #ff6347;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
}

.remove-btn:hover {
    background-color: #d9534f;
}